.search-engine  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  height: 100vh;
}

.search-engine.with-results {
  height: auto;
}

.search-engine .logo {
  width: 350px;
}

.search-engine .search-box {
  display: flex;
  width: 350px;
  margin-top: 30px;
}

.search-engine .search-box input {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-engine .search-box button {
  background-color: #137D60;
  color: #fff;
  border: none;
  border-radius: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px;
  cursor: pointer;
}

.search-engine .search-box button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.search-results {
  margin-top: 30px;
  padding: 30px;
}

.search-results .member-profile {
  display: flex;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 25px;
}

.search-results .member-profile img {
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.search-results .member-profile .img-placeholder {
  width: 65px;
  height: 65px;
  background-color: #e4e4e4;
  border-radius: 100%;
}

.search-results .member-profile .info {
  padding-left: 20px;
  font-size: 14px;
}
